@tailwind base;
@tailwind components;
@tailwind utilities;


/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
/* /* Custom base styles */

body.login-page {
  overflow: hidden;
}

/* Also fix body shift caused by Google */
body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
} 


@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* Only scroll half because we duplicated */
}

@keyframes marquee-vertical {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.animate-marquee {
  animation: marquee linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical linear infinite;
}

.animate-reverse {
  animation-direction: reverse;
}
